body{
    text-align:center;
    background-image: url("../img/green_num.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
header{
    color:white;
    background-color:rgba(24, 57, 51, 0.85);
    padding:20px;
    margin-bottom:15px;
}

#main {
    background-color: rgba(174, 237, 226, 0.9);
    font-size: 1.7rem;    
    padding: 20px;
    max-width: 600px; 
    font-weight: bold;
    margin: 60px auto;   
    border-radius: 20px;
    background-size: cover;
    
}

#feedback {
    padding: 40px;
    background-color: #5faea1;;
    color: #f4f4f4;
    margin: 10px;
    font-weight:bold;
}
#guessBtn {
    padding: 12px 25px;
    font-size: 1.1rem;
}

#playerGuess{
    padding: 10px;
    width: 120px;
    font-size: 1.5rem;
}
.stats-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.stat {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    font-size: 1.1rem;
}